@import "variables.module";

.flipCard {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px;
  user-select: none;
  padding: 0.1rem;
  transition: all 1s;
}

.clickableCard {
  cursor: pointer;
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.4s;
  transform-style: preserve-3d;
  box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.flipped .flipCardInner {
  transform: rotateY(180deg);
  box-shadow: -1px 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.flipCardFront,
.flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flipCardFront {
  background-color: $colPink;
  color: $colDark;
}

.flipCardBack {
  transform: rotateY(180deg);
  transition: background-color 0.1s ease;
}

.foundPair .flipCardInner {
  background-color: $colGreen;
}

.wrongPair .flipCardInner {
  background-color: $colRed;
}

.beeingShuffled .content {
  animation: shuffle 0.5s;
}

@keyframes shuffle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
