@import "variables.module";

.container {
  display: flex;
  justify-content: center;
}

.title {
  font-family: "Roboto-Thin";
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: $colDark;
}

.wrongPairsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  p {
    font-family: "Roboto-Thin";
    font-size: 1rem;
    color: $colDark;
  }
}
